body {
  background-color: #FAEEE7;
  font-family: century gothic;
}

hr {
  border-color: grey;
  border-width: 5px;
  border-style: dotted none none;
  width: 5%;
}

h1 {
  color: #325288;
  font-family: century gothic;
}

h3 {
  color: #325288;
  font-family: century gothic;
  font-style: oblique;
}
